body {
    font-family: 'Monospace', sans-serif;
    font-size: 42px;
    color: gainsboro;
    background-image: url(./background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.second-page {
    display: none;
}

button {
    background-color: gainsboro;
    font-size: 20px;
    padding: 16px 40px;
    border-radius: 15px;
    border: 2px solid black;
    transition-duration: 0.4s;
}

button:hover {
    background-color: white;
    cursor: pointer;
  }

  p {
    font-size: 36px;
    
  }